@model  CarEditViewModel
@{
    ViewData["Title"] = "Edit Car";
}

<center>
    <h1>Edit Car: @Model.Model</h1>
</center>

<div class="row col-md-12 justify-content-center">
    <div class="col-md-10">
        <form asp-controller="Orders" asp-action="Edit" asp-area="Administration" method="POST" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Image" value="@Model.Image" />
            <hr />
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" value="@Model.Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" value="@Model.Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control" />@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <center><img src="@Model.Image" style="width:500px" /></center>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Upload a new car photo</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GearType">Gear Type</label>
                <select class="custom-select" asp-for="GearType" asp-items="@Html.GetEnumSelectList<GearType>()"></select>
                <span asp-validation-for="GearType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerDay">Price per day</label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <center>  <button type="submit" class="btn btn-primary">Edit Car</button></center>
        </form>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">
</script>

