
@model ICollection<CarRental.Web.ViewModels.Orders.MyOrdersViewModel>

@{
    ViewData["Title"] = "My Orders";
}

<center>
    <h1 style="margin-top:2%">
        My Orders
    </h1>
</center>
<hr class="border-info"/>

<div class="d-flex justify-content-between mx-2 mb-2">
    <input class="form-control col-md-2 border-primary" type="text" id="myInput" onkeyup="byId()" placeholder="Search by Id">
    <button type="button" class="btn btn-primary" onclick="location.reload();" id="showAll">Show All</button>
    <button type="button" class="btn btn-primary" onclick="showActive()" id="myInputActive" value="Active">Show Active</button>
    <button type="button" class="btn btn-primary" onclick="showCanceled()" id="myInputCanceled" value="Canceled">Show Canceled</button>
    <button type="button" class="btn btn-primary" onclick="showFinished()" id="myInputFinished" value="Finished">Show Finished</button>
    <button type="button" class="btn btn-primary" onclick="sortTable()">Sort By End Date ASC</button>
    <button type="button" class="btn btn-primary" onclick="sortTableDateDesc()">Sort By End Date DSC</button>
</div>

<table class="table table-hover border" name="allorders" id="allorders">
    <thead>
        <tr class="table-primary ">
            <th scope="col">Order Id</th>
            <th scope="col">Car Model</th>
            <th scope="col">Pick Up Location</th>
            <th scope="col">Return Location</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in @Model)
        {
            if (order.Status.ToString() == "Canceled")
            {
                @Html.Raw(" <tr class=\"table-danger\">")
            }
            else if (order.Status.ToString() == "Finished")
            {
                @Html.Raw(" <tr class=\"table-success\">")
            }
            else
            {
                @Html.Raw(" <tr class=\"table-warning\">")
            }


        <th scope="row"><a href="/orders/details/@order.Id">@order.Id.ToUpper()</a></th>
        <td>@order.CarModel</td>
        <td>@order.PickUpLocation</td>
        <td>@order.ReturnLocation</td>
        <td>@order.RentStart.ToShortDateString()</td>
        <td>@order.RentEnd.ToShortDateString()</td>
        <td>$@order.Price</td>
        <td>
            @order.Status.ToString()
            @if (order.ReviewId > 0)
            {
                <img src="/Images/feedback-given.jpg.png" width="25px" heigth ="25px" title="Feedback is given"/>
            }
        </td>
        @Html.Raw(" </tr>")
    }
        </tbody>
    </table>
    @section Scripts {
        <partial name="~/Views/Shared/Partials/_SearchAndTableScripts.cshtml" />
    }

    @if (Model.Count() > 0)
    {
        var spent = this.Model.Sum(x => x.Price);
        <h3 class="text-info">Total spent: $ @spent</h3>
    }



