@model ICollection<ListCarDto>

@{
    ViewData["Title"] = "All Cars";
}

<h1>You can choose the right car to satisfy your needs</h1>

<hr class="text-warning" />

@if (Model.Count == 0)
{
    <h1>Sorry, we dont have any car in our fleet.</h1>
}
else
{
    var counter = 0;
<center>
    <div class="justify-content-between">
        <h6 class="text-primary">Sort by:</h6>
        <div class="mx-2 mb-2">
            <a class="btn btn-outline-primary" asp-controller="Cars" asp-action="All" asp-route-orderBy="TimesRentDescending">Times rented descending</a>
            <a class="btn btn-outline-primary" asp-controller="Cars" asp-action="All" asp-route-orderBy="RatingDescending">Rating descending</a>
            <a class="btn btn-outline-primary" asp-controller="Cars" asp-action="All" asp-route-orderBy="TimesRentAscending">Times rented ascending</a>
            <a class="btn btn-outline-primary" asp-controller="Cars" asp-action="All" asp-route-orderBy="LastAdded">Last added</a>
        </div>
    </div>
</center>
    @: <div class="row justify-content-around">
        @foreach (var item in Model)
        {
            counter++;

            <div class="card mb-2 col-md-3 border-info ">
                <span class="badge badge-warning">@item.Year</span>
                <h4 class="card-header" style="background-color:transparent">@item.Model</h4>
                <img style="height: 195px; width: 250px; display: block;" src="@item.Image" alt="@item.Model">
                <div class="card-body">
                    <p class="card-text">@item.Description.Substring(0,165) ...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Gear Type: @item.GearType.ToString()</li>
                    <li class="list-group-item">Price pey day: $@item.PricePerDay</li>
                    <li class="list-group-item">
                        <a href="/Cars/Details/@item.Id">Details Page</a>
                    </li>
                </ul>
            </div>

            if (counter % 3 == 0)
            {
                @Html.Raw("</div>")
                @Html.Raw("<div class=\"row justify-content-around\">")
            }
        }
    }
