
@model CarDetailsViewModel
@{
    ViewData["Title"] = Model.Model + " Details";
    var averageRating = @Model.Reviews.Count() == 0 ? "0" : @Model.Reviews.Average(p => p.Rating).ToString("F");
}

    <div class="container">
        <h1 style="margin-top:2%" class="my-4">
            @Model.Model Details
        </h1>
        <hr class="border-info" />
        @if (User.IsInRole("Administrator"))
        {
            <a class="btn btn-info" asp-controller="Cars" asp-area="Administration" asp-action="Edit" asp-route-id="@Model.Id">Edit Car</a>
            <a class="btn btn-info" asp-controller="Cars" asp-action="Delete" asp-area="Administration" asp-route-id="@Model.Id" data-confirm="This car will become hidden for use in the site. All related orders and reviews will remain unchanged. Continue?">Delete Car</a>
        }

        @if (Model.Reviews.Count > 0)
        {
            //<partial name="_CarDetailsBadge" model="@Model.Reviews" />
            @await Html.PartialAsync("~/Views/Shared/Partials/_CarDetailsBadge.cshtml", @Model.Reviews)
        }
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="@Model.Image" alt="">
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Model Description</h3>
                <hr class="border-primary" />
                <p>@Model.Description</p>
                <h3 class="my-3">Model Details</h3>
                <hr class="border-primary" />
                <h6><i class="fas fa-cogs"></i> Gear Type: @Model.GearType.ToString()</h6>
                <h6><i class="fas fa-star"></i> Average Rating: @averageRating </h6>
                <h6><i class="fas fa-fan"></i> Air Conditioner: Yes </h6>
                <h6><i class="fas fa-location-arrow"></i> GPS Navigation: Yes </h6>
            </div>
        </div>

        @if (@Model.Reviews.Count > 0)
        {
            //<partial name="_CarReviewsPartial" model="@Model.Reviews" />
            @await Html.PartialAsync("~/Views/Shared/Partials/_CarReviewsPartial.cshtml", @Model.Reviews)
        }
        else
        {
            <h3>This cars was not reviewed by our users.</h3>
        }

        @section Scripts {
            <partial name="~/Views/Shared/Partials/_DataValidationAndConfirmScripts.cshtml" />
            <partial name="~/Views/Shared/Partials/_FontAwesomeIcons.cshtml" />
            }

            <script src="/lib/signalr/dist/browser/signalr.min.js"></script>
            <script src="/js/notify.js"></script>
