@model ICollection<UserVoucherViewModel>

@{
    ViewData["Title"] = "Generate Vouchers";
}

<center>
    <h1 style="margin-top: 2%">
        Generate vouchers for customers
    </h1>
</center>
<hr class="border-info" />

<div class="d-flex justify-content-between mx-2 mb-2">
    <input class="form-control col-md-2 border-primary" type="text" id="myInput" onkeyup="byId()" placeholder="Search by Customer">
</div>

<table class="table table-hover border" style="font-size:90%" name="allorders" id="allorders">
    <thead>
        <tr class="table-primary">
            <th scope="col">Customer Email</th>
            <th scope="col">Money Spent</th>
            <th scope="col">Rents</th>
            <th scope="col">Percent Discount (1% - 100%)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Count; i++)
        {
            var user = Model.ToList()[i];
        <th style="font-size:150%" scope="row">@user.Email</th>
        <td style="font-size:150%">@user.MoneySpent</td>
        <td style="font-size:150%">@user.Rents</td>
        <td>
            <form class="d-flex justify-content-between" asp-controller="Vouchers" asp-action="Generate" asp-area="Administration" method="POST">
                <input type="hidden" asp-for="@user.Email" name="Email" value="@user.Email" />
                <input asp-for="@user.Discount" name="Discount" class="form-control col-md-6" minimum="1" max="100" value="1" />
                <span asp-validation-for="@user.Discount" class="text-danger"></span>
                <button type="submit" class="btn btn-danger">Generate Voucher</button>
            </form>
        </td>
        @Html.Raw("</tr>")
    }
        </tbody>
    </table>

    @section Scripts {
        <partial name="~/Views/Shared/Partials/_SearchAndTable_Admin_Scripts.cshtml" />
    }
    <script src="/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="/js/notify.js"></script>